@model ProfileIndex



@section SpecialCss {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Profile</h3>
                <span class="breadcrumb">@(Context.Request.Path.ToString().Replace("/", " > "))</span>
            </div>
        </div>
    </div>
</div>

<section class="bg-light">
    <div class="container">
        @if (TempData["succesMsg"] != null)
        {
            <div class="alert alert-success">@TempData["succesMsg"]</div>
        }
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                @if     (Model.ProfilePhoto.StartsWith("https://") || Model.ProfilePhoto.StartsWith("http://"))
                                {
                                    
                                <img src="@Model.ProfilePhoto" alt="profilePhoto" style="width:300px; height:300px"/>
                                    }
                                else{
                                    <img src="~/@Model.ProfilePhoto" style="width:300px; height:300px" />
                                }
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="row">
                                    <div class="bg-secondary d-lg-inline-block col-lg-6 py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                        <h3 class="h2 text-white mb-0">@Model.FullName</h3>
                                        <span class="text-primary">Gamer</span>
                                    </div>
                                    <div class="col-lg-6 d-flex justify-content-end align-items-start">
                                        <a asp-action="Edit" asp-controller="Profile" class="btn btn-warning" style="color:honeydew;">Edit Profile</a>
                                    </div>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Age:</span> @Model.Age Years</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> <a href="mailto:@Model.Email"> @Model.Email</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>