@model GamesSingleVm

@{
    var gameDetails = Model.GameDetails;
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>@gameDetails.Name</h3>
                <span class="breadcrumb">@(Context.Request.Path.ToString().Replace("/", " > "))</span>
            </div>
        </div>
    </div>
</div>

<div class="single-product section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img id="gamePhoto" src="~/@gameDetails.PhotoPath" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <h4 id="gameName">@gameDetails.Name</h4>
                <span class="price" id="gamePrice">$@gameDetails.Price</span>
                <div><i class="fa-solid fa-eye"></i>@gameDetails.ClickCount</div>
                <p>@gameDetails.ShortDesc</p>>
                <input value="@gameDetails.gameId" id="gameId" hidden/>
                @* <button id="btnAddToCart"><i class="fa fa-shopping-bag"></i> ADD TO CART</button> *@
                <a type="submit" asp-action="AddGame" asp-controller="Cart" asp-route-gameId="@gameDetails.gameId"><i class="fa fa-shopping-bag"></i> ADD TO CART</a>
                <ul>
                    <li><span>Genre:</span> <span id="gameGenre">@gameDetails.Genres</span></li>
                    <li><span>Multi-tags:</span><span id="gameTag">@gameDetails.GameTags</span></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="sep"></div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                            data-bs-target="#description" type="button" role="tab" aria-controls="description"
                                            aria-selected="true">
                                        Description
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews"
                                            type="button" role="tab" aria-controls="reviews" aria-selected="false">
                                        Reviews @(gameDetails.Reviews.Count == 0 ? " " : $"({gameDetails.Reviews.Count})")
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel"
                                 aria-labelledby="description-tab">
                                <p>@gameDetails.Description</p>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                @if (gameDetails.Reviews != null && gameDetails.Reviews.Count > 0)
                                {
                                    @foreach (var review in gameDetails.Reviews)
                                    {
                                        <div class="row">
                                            <div class="col-lg-2">
                                                @if (review.User.ProfilePhoto.StartsWith("http"))
                                                {
                                                    <img style="width:120px; height:120px" src="@review.User.ProfilePhoto" />
                                                }
                                                else
                                                {

                                                    <img style="width:120px; height:120px" src="~/@review.User.ProfilePhoto" />
                                                }
                                                <p>@review.CreatedDate.Year-@review.CreatedDate.Month-@review.CreatedDate.Day</p>
                                            </div>
                                            <div class="col-lg-10">
                                                <p>@review.ReviewText</p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Add a review</h3>
                    <form method="post" asp-action="AddReview" asp-controller="Games">
                        <textarea name="reviewText" id="reviewText" class="form-control"></textarea>
                        <input name="gameId" id="gameId" value="@gameDetails.gameId" hidden />
                        <input type="submit" class="form-control btn-primary" />
                    </form>
                </div>
        </div>
    </div>
</div>

<div class="section categories related-games">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>Action</h6>
                    <h2>Related Games</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="shop.html">View All</a>
                </div>
            </div>
            @if (Model.RelatedGames.Count > 0)
                @foreach (var related in Model.RelatedGames)
                {
                    <div class="col-lg col-sm-6 col-xs-12">
                        <div class="item">
                            <h4>@related.Genre</h4>
                            <div class="thumb">
                                <a asp-action="Single" asp-controller="Games" asp-route-gameId="@related.Id"><img src="~/@related.PhotoPath" alt="" width="240px" height="225px"></a>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>


@section SpecialJs {
    <script src="~/js/gamesSingle.js"></script>
}
